# Arduino IDE files
*.o
*.elf
*.hex
*.bin
*.zip

# VS Code settings
.vscode/
*.code-workspace

# PlatformIO
.pio/

# Build output
build/
dist/

# Node / Slidev
node_modules/
.slidev/
.vite/

# Misc
.DS_Store
Thumbs.db

